
.logo-img{
  width: 156px;
  height: 54px;
  margin-left: 120px;
 
  margin-top: 11px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  }

.title-text{
width: 269px;
height: 22px;
margin-left: 120px;
top: 114px;
/* H / H3 */
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
/* or 117% */

display: flex;
align-items: center;
letter-spacing: -0.01em;

color: #000000;
  }
hr{
height: 0px;
margin-left: 120px;
margin-top: 12px;
margin-right:180px;

/* Navy/500 */

border: 1px solid #C0C4CC;
}

.search{
  box-sizing: border-box;
  margin-top: 11px;

  /* Auto layout */
  
  display: flex;
  margin-right:180px;
  flex-direction: row;
  align-items: right;

  padding: 10px;
  gap: 8px;

  
  /* Navy / 0 */
  background-image: url('./search-icon.png');
  position:left;
  padding-left: 30px;
  background-size: 20px;
  background-position-y: center;
  background-position-x: 5px;
  background-repeat: no-repeat;
  /* Navy/500 */
  
  border: 1px solid #C0C4CC;
  border-radius: 2px;
}
.search-icon{
  margin-top: 18px;

  /* Auto layout */
  height: 1.17%;
  width:1.17%;
  display: flex;
  flex-direction: row;
  align-items: right;

}